In [1]:
import numpy as np
x = np.array( [[1, 2, 3], [4, 5, 6]])
print("x:\n{}".format(x))

x:
[[1 2 3]
 [4 5 6]]

In [3]:
from IPython.display import display
import pandas as pd
data = {'Name': ["John", "Anna", "Peter", "Linda"],
'Location': ["New York", "Paris", "Berlin", "London"],
'Age': [24, 13, 53, 33]
}
data_pandas = pd.DataFrame(data)
display(data_pandas)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

In [5]:
'''I
love
you'''

'I\nlove\nyou'

In [6]:
val = ["test", 1]
val

['test', 1]

In [7]:
val[0:1]

['test']

In [8]:
val[0:]

['test', 1]

In [9]:
del val[0]

In [10]:
val

[1]

In [11]:
val_tuple = ("test", 1)
val_tuple

('test', 1)

In [12]:
del val_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [14]:
val_tuple[:1]

('test',)

In [15]:
1 in val_tuple

True

In [16]:
"test" in val_tuple

True

In [18]:
val_tuple + val_tuple

('test', 1, 'test', 1)

In [20]:
val_tuple * 3

('test', 1, 'test', 1, 'test', 1)

In [22]:
scores = [("math", 90), ("computer", 80)]
score_dict = dict(scores)
score_dict["computer"]

80

In [24]:
dict(scores)

{'math': 90, 'computer': 80}

In [25]:
x = 1
while x < 10:
    print("한자리 수")
    x += 1

한자리 수
한자리 수
한자리 수
한자리 수
한자리 수
한자리 수
한자리 수
한자리 수
한자리 수

In [26]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
try:
    10 / 0
except ZeroDivisionError as e:
    print(e)

division by zero

In [28]:
def hello(name):
    print("Hello, " + name)
    
name = "Lee"
hello(name)

Hello, Lee

In [29]:
def add(*numbers):
    sum = 0
    for i in numbers:
        sum += i
    return sum

add(1, 5, 6)

12