# 컬렉션 타입

## 리스트와 튜플
- 여러개 값을 담을 수 있는 데이터 구조
- list - mutable, tuple - immutable

## 리스트 초기화(생성)
- [] 안에 값을 담아 생성
- list() 함수로 생성
- str.split() 함수로 생성

In [2]:
a = []
print(a)

[]

In [6]:
b = list((1, 2, 3, 4, 5))
print(b)

[1, 2, 3, 4, 5]

In [9]:
c = "Hello world"
print(list(c.lower()))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [11]:
c.split()

['Hello', 'world']

## 리스트 indexing
- [] 연산자 이용
- index 음수 가능

In [14]:
a = [1, 2, 3, 4, 5]
print(a[2])
print(a[-3])

3
3

In [15]:
a[0] = 3
a

[3, 2, 3, 4, 5]

In [20]:
b = "hello"
#b[0] = "j"
# 문자열은 새로 생성해야...
print(b.replace('h', 'j'))
print(b)
# b는 여전히 바뀌지 않음!!

jello
hello

## 리스트 slicing

- start:end:increment

In [26]:
a = [4, 5, 6, 7, 8, 9]
print(a[1:3])
print(a[:2])

print(a[::2])
print(a[1::2])

[5, 6]
[4, 5]
[4, 6, 8]
[5, 7, 9]

## 리스트 멤버 함수

In [28]:
a = [1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [34]:
a = [1,2,3,4,5]
a.extend([6, 7, 8])
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
a = [1,2,3,4,5]
b = [6, 7, 8]
a += b
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
a.insert(1, 40)
a

[1, 40, 40, 2, 3, 4, 5, 6, 7, 8]

In [43]:
a = [1, 40, 5]
a.remove(40)
a

[1, 5]

In [45]:
a.remove(40)
# 리스트에 지울 값 없는 경우

ValueError: list.remove(x): x not in list

In [48]:
a = [1, 2, 3, 4, 5]
a.pop()
print(a)

first = a.pop(0)
print(a)

print(first)

[1, 2, 3, 4]
[2, 3, 4]
1

In [50]:
a = [2,4,6,8,10]
a.index(6)

2

In [53]:
a = [1, 2, 3, 4, 5, 6]
b = 7
c = b in a
print(c)

False

In [65]:
a = [1, 2, 3, 4, 5, 6]
b = [2, 4]
# list로 비교할 경우 주의 필요
b in a

False

### list 정렬
- list.sort() 리스트 자제를 (내부적으로) 정렬, 반환 X!
- sorted(list) 정렬된 리스트의 복사본 반환

In [62]:
a = [9, 10, 7, 3]
print(a.sort())
print(a)

None
[3, 7, 9, 10]

In [64]:
a = [9, 10, 7, 3]
print(sorted(a))
print(a)

[3, 7, 9, 10]
[9, 10, 7, 3]

In [69]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
sorted(a, reverse=True)

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]

## Tuple 생성
- swap
- return (여러 값 한 번에 반환)

In [71]:
a = (1, 2, 3)
print(type(a))

<class 'tuple'>

In [74]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

## Tuple unpacking

In [75]:
a = 100, 200
type(a)

tuple

In [77]:
a, b = 100, 200
print(a, b)

100 200

In [78]:
# swap
a, b = b, a
print(a, b)

200 100

## Dictionary
- 키와 값 가지는 데이터 구조
- 키는 내부적으로 hash값으로 저장
- 인덱스가 없음(순서가 없음)

In [81]:
a = {'Korea': "Seoul",
     "Canada":"Ottawa",
     "USA":"Washington D.C"}
b = {0: 1, 1: 6, 7: 9}
print(a["Korea"])
print(b[1])

Seoul
6

In [83]:
a = {'Korea': "Seoul",
     "Canada":"Ottawa",
     "USA":"Washington D.C"}
a["Japan"] = "Tokyo"
a["China"] = "Beijing"
a

{'Korea': 'Seoul',
 'Canada': 'Ottawa',
 'USA': 'Washington D.C',
 'Japan': 'Tokyo',
 'China': 'Beijing'}

### update

In [86]:
a = {'a': 1, 'b': 2}
b = {'a': 3, 'c': 4, 'd': 5}
a.update(b)
a

{'a': 3, 'b': 2, 'c': 4, 'd': 5}

### key 삭제
- del 키워드
- pop 함수

In [90]:
a = {'a': 1, 'b': 2}
b = {'a': 3, 'c': 4, 'd': 5}
del a['b']
print(a)

b.pop('d')
print(b)

{'a': 1}
{'a': 3, 'c': 4}

### in
- key 값 존재 확인
- list와 다르게 dictionary는 O(1) 연산

In [91]:
b = {'a': 3, 'c': 4, 'd': 5}
print('a' in b)
print(3 in b)

True
False

### value access
- dict[key]: key 없는 경우 error
- dict.get(key): key 없는 경우 None 반환

In [96]:
b = {'a': 3, 'c': 4, 'd': 5}
print(b.get('a'))
print(b.get('b'))

3
None

### 모든 key, value에 접근
- keys()
- values()
- items() : 키와 값의 튜플 반환

In [101]:
b = {'a': 3, 'c': 4, 'd': 5}
print(b.items())
print(list(b.items()))

dict_items([('a', 3), ('c', 4), ('d', 5)])
[('a', 3), ('c', 4), ('d', 5)]

## Set
- dictionary에서 key만 활용하는 데이터 구조
- 수학 집합과 동일 개념

In [103]:
a = {1, 1, 2, 3, 4, 5, 1, 3}
print(a)
print(a[0])

{1, 2, 3, 4, 5}

TypeError: 'set' object is not subscriptable

In [104]:
a = [1, 1, 2, 3, 4, 5, 1, 3]
b = set(a)
print(a)
print(b)

[1, 1, 2, 3, 4, 5, 1, 3]
{1, 2, 3, 4, 5}

In [106]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(a.issubset(b)) # 부분집합

{1, 2, 3, 4, 5}
{3}
{1, 2}
False